body{
    background-color: #141414;
    font-family: 'Courier New', monospace;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.filler-bar{
    background-color: #FF4B3E;
    height: 1px;
    width: 60%;
}

.title-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 1rem;
}

.link{
    position: absolute;
    right: 1rem;
}

.link:nth-child(3) {
    right: 4rem;
}

.title{
    color: #E0E2DB;
    text-align: center;
    font-size: clamp(2rem, 8vw, 5rem);
}
.home-box{
    border: 2px solid #FF4B3E;
    padding: 10px;
    position: absolute;
    left: 5%;
}
.home{
    text-decoration: none;
    color: #E0E2DB;
}

.experience-container{
    color: #E0E2DB;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 3rem;
}
.experience{
    border: 2px solid #FF4B3E;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
}